/*To override the browser's default spacing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*For location, alignment display and viewport adjustments */
  body{
    background-image: url(images/colors.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }


.content{
  align-content: center;
  background-color: White;
}


.w75{
  width: 75% !important;
}

ul{
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 12px;
  list-style:none;
}
  
  ul li{
    padding-bottom: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
  }
  
  .color-btn{
    padding-bottom: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: grey;
  }

  
  #counter{
      padding: 12px 24px;
      border-radius: 25px;
      outline: rgb(221, 219, 219);
      font-size: 16px;
  }

  #add-to-cart{
    padding: 15px 100px;
    margin-left: 20px;
    border-radius: 45px;
    border: none;
    background-color: #000;
    color: white;
  }

  hr{
    width: 100%;
    background-color: black;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  overflow: auto; /* Enable scroll if needed */
  justify-content: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  justify-content: left;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-body button input{
  text-align: right;
}


.modal-body button{
  margin: 15px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  font-size: 30px;
  float: right;
  clear: left;
}

#subtract{
 padding-top: 5px;
 padding-bottom: 9px;
 padding-left: 23px;
  padding-right: 23px;
}


input{
  width: 70px;
  border-style:none;
  outline: none;
  border-color: transparent;
  float: right;
}

input[type="text"]
{
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  display: inline-block;
}

#add{
 padding-top: 5px;
 padding-bottom: 7px;
 padding-left: 20px;
 padding-right: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.dismiss{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#need-help{
  outline: transparent;
  border: none;
  color: #000;
}

#confirm{
  padding: 10px 10px;
  margin: 5px;
  border-radius: 45px;
  font-size: 15px;
  float: right;
}

#confirm2{
  padding: 10px 10px;
  margin: 5px;
  border-radius: 45px;
  font-size: 15px;
  float: right;
}